* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  scroll-behavior: smooth;
  background-color: #fff;
}

.nav-top-space {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 2px;
  width: 100%;
  height: 50px;
  background-color: black;
  background-size: cover;
  color: #fff;

  .top-text {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    margin-left: 400px;
  }
  .text-space {
    text-align: center;
    justify-content: space-between;
    margin-left: 100px;
  }
  .top-close {
    display: flex;
    text-align: center;
    justify-content: space-around;
  }
  .close-text {
    font-size: 23px;
    text-transform: lowercase;
    text-align: center;
    justify-content: space-between;
    margin-left: 300px;
    padding: 200px;
    cursor: pointer;
  }
}
.nav-menu-container {
  border: 0.1px;
  width: 100%;
  box-shadow: 2px 2px 8px #333;

  .menu-open {
    font-size: 20px;
    font-weight: 700;
  }
  .heading-text {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 30px;
    position: relative;
  }

  .head-text {
    text-align: center;
    justify-content: center;
    margin: auto;
  }
  .icon-section #cart-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    font-size: 35px;
    position: relative;
  }
  .cart-item-count {
    position: absolute;
    top: 0;
    right: -2px;
    padding: 20px;
    margin: 8px;
    background-color: seagreen;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
  }

  .menu-open {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
  }
}

/* HERO SECTION  */
.hero-section {
  position: absolute;
  background-image: url(shop-images/Hero-background-images/shopping-img.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  animation: animate 8s infinite alternate;
  z-index: 100;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.hero-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: relative;
  margin: 20px;
}

h1 {
  color: #fff;
}
.btn-home {
  border: 0.5px solid #fff;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
  cursor: pointer;
  background-color: rgba(0.5, 0, 0, 0.4);
  margin: 10px;
}
.btn-homee {
  border: 0.5px solid #fff;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
  cursor: pointer;
  background-color: rgba(0.5, 0, 0, 0.4);
}
.btn-home:hover {
  font-weight: 200;
  background-color: #fff;
  color: #333;
}
.btn-homee:hover {
  font-weight: 200;
  background-color: #fff;
  color: #333;
}

.details-section {
  width: auto;
  margin: 30px;
  margin-top: 105vh;
  justify-content: center;
  align-self: center;
}

.details-text {
  margin: 50px;
  padding: 20px;
}
.text-details {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.para-details {
  font-size: 20px;
  font-weight: 300;
}
hr.line-br {
  margin-top: 50px;
}
.side-details {
  margin: 10px;
  margin-top: 30px;
  padding-bottom: 40px;

  color: #333;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 30px;
}
.side-text {
  text-transform: uppercase;
  padding: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #333;
}
.side-para {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 18px;
  font-weight: 600;
}
.btn-side {
  display: block;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid;
  border-radius: 10px;
  width: 150px;
  height: auto;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  background-color: #333;
}
.btn-side:hover {
  font-size: 14px;
  font-weight: 400;
}
.line-brr {
  margin-top: 50px;
}

/* Gallery-section  */
.galla-background {
  display: flex;
  align-items: left;
  justify-content: left;
  position: relative;
  text-align: center;
  margin: 20px;
  color: #333;
}
.backgrd-gal {
  height: 60vh;
  width: 800px;
  object-fit: cover;
  justify-content: left;
  align-content: center;
  display: flex;
}

.gala-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 2vh;
  margin: 40px;
}
.gala {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.image-text-container {
  border: 0.2px solid;
  border-radius: 8px;
  box-shadow: 2px 2px 6px 1px;
  width: fit-content;
  margin: 20px;
}
.image-text-container:hover {
  border: 0.2px solid;
  border-radius: 8px;
  box-shadow: 2px 2px 6px 1px;
  cursor: pointer;
}
.gala-image {
  height: 250px;
  margin: 5px;
  border-radius: 7px;
}
.text-cont {
  display: block;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.galla-locatn {
  background-color: #fbf9f9;
  /* background-color: seagreen; */
  height: 60vh;
  width: 800px;
  object-fit: cover;
  justify-content: center;
  align-content: center;
  text-align: center;
  display: block;
}
.gal-locate {
  margin: 100px;
}
.backgrd-text {
  font-size: 23px;
}
.backgrd-parag {
  font-weight: 600;
  font-size: 18px;
  color: seagreen;
  margin: 19px;
}
.gal-bttn {
  /* text-decoration: none; */
  text-transform: uppercase;
  border: 2px solid;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  background-color: seagreen;
}
.gall-btn {
  border: 2px solid #333;
  border-radius: 5px;
  background-color: #fff;
  width: 150px;
  height: 50px;
  color: #333;
  font-size: 15px;
  font-weight: 500;
  margin: 50px;
  cursor: pointer;
}

/* FOOTER-SECTION  */

.footer-container {
  /* background-color: seagreen; */
  display: block;
  align-items: center;
  justify-content: center;
}
.footer-text {
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-weight: 500;
  margin: 15px;
}
.footer-text-para {
  margin: 15px;
  font-weight: bold;
}
.footer-input {
  margin: 15px;
  height: 20vh;
  width: 100%;
  border: 1px;
  outline: none;
}
.foot-input {
  border: 0.5px solid;
  /* border-radius: 5px; */
  width: 25%;
  height: 50px;
  margin: 20px;
  margin-top: 30px;
  padding: 22px;
  font-size: 15px;
  outline: none;
  background-color: #fff;
}
.input-send {
  border: 1px solid;
  height: 50px;
  width: 20%;
  margin: -24px;
  padding: -20px;
  cursor: pointer;
}
/* LOWER FOOTER SECTION  */
.lower-foot-contain {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 250px;
  margin: 30px;
}
.text-contain {
  gap: 80px;
}
.low-head {
  color: #333;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}
.low-head-para a {
  text-decoration: none;
  list-style: none;
  color: #333;
  font-weight: 200;
}
.low-head-para a:hover {
  text-decoration: underline;
}
.social-link-list {
  background: transparent;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 20vh;
}
.social-link {
  color: #333;
  font-size: 20px;
  transition: 0.5s;
}
.social-link:hover {
  font-size: 30px;
}
.policy-seg {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.priv-policy {
  text-decoration: none;
  list-style: none;
  color: #333;
}

@keyframes animate {
  20% {
    background-image: url(shop-images/Hero-background-images/shopping-img.jpeg);
  }
  30% {
    background-image: url(shop-images/Hero-background-images/smiling-loving-couple-with-shopping-bags-city_1398-4676.jpg);
  }
  35% {
    background-image: url(shop-images/Hero-background-images/clothing-shop-images.jpeg);
  }
  45% {
    background-image: url(shop-images/Hero-background-images/pair-man-woman-wearing-glasses-carried-lots-paper-bags-shopping_1150-27742.jpg);
  }
}

/* @media screen and (max-width: 900px) {
    
    .top-text{
        display: flex;
        text-align: center;
        justify-content: space-between;
        margin: 200px;    
        padding: 200px;
    
         

    }
} */
